<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>DebateIT / Report Issue </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/custom.min.css' %}" rel="stylesheet">


</head>

<body>
<div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                   <span class="navbar-brand"><img src="{% static 'img/debateita.png' %}" height="80"></span>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">DebateIT</a></li>
                        <li><a href="/profile/{{ user.username }}">Profile</a></li>
                        <li><a href="/edit_profile">Edit Profile</a></li>
                        <li><a href="/debate">Debate</a></li>
                        <li><a href="/ranklist">Ranklist</a></li>
                        <li class="active"><a href="/report">Report issue</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>


<div class="container">

    <h1 class="text-center">Report a problem or user</h1>


    <ul>
        <li><span class="text-muted">The system does not check if the argument is related to the theme given,
    you can report players for writing such arguments.
    If that is the case we require a screenshot of the debate, which you can take during or at the end of debate,
    for verification that this did happend   </span></li>
        <li><span class="text-muted"> You can report issues with the site just be sure to be as detailed
            as possible and choose "issue" type from the dropdown menu instead of "player" </span>
        </li>

    </ul>

    <div class="container center-block">

        <form method="post">{% csrf_token %}

            <div class="row">
                <div class="col-lg-offset-4 col-lg-4 text-center">
                    {{form|crispy}}
                    <button type="submit" class="btn  btn-success btn-block text-center">Send</button>
                </div>
            </div>


        </form>
    </div>


</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>



</body>
